<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KIWheelView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>187E54411C4F5FE3007EC394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187E545A1C4F5FE3007EC394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187E54651C4F5FE3007EC394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
